.menuPrincipal {
  width: 200px;
  height: calc(100vh - 25px);
  padding: 25px 25px 0;
  background: #222;

  .imagemLogo {
    width: 170px;
    position: absolute;
    top: 20px;
    left: 55px;
  }

  .menuLista {
    padding: 0;
    margin: 12vh 0 0;
    list-style: none;
  }

  .menuItens {
    margin: 1vh 0;
    font-size: 1.2em;
    line-height: 2em;
  }

  .menuLinks {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;

    &:hover {
      color: #999;
    }
  }
}
