.root-wrapper {
  display: flex;

  .menu-principal {
    width: 200px;
    height: 100vh;
    padding: 0 15px;
    position: fixed;
    z-index: 99999;
    background: #222;
    overflow: hidden;
    transition: 0.5s;

    .menu-cabecalho {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .menu-cabecalho-icone-area {
      width: 18px;
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }

    .menu-hamburguer {
      color: #fff;
    }

    .imagem-logo {
      width: 200px;
      padding-top: 25px;
      padding-bottom: 15px;
      user-select: none;
      transition: 0.3s opacity, 0.5s visibility;
    }

    .menu-navegacao {
      padding: 25px 0;
    }

    .menu-itens {
      display: flex;
      align-items: center;
      padding: 12.5px 0;
      white-space: nowrap;

      &:hover {
        cursor: pointer;

        .menu-links-icones,
        .menu-links {
          color: #999;
        }
      }
    }

    .menu-links-icones-area {
      width: 15px;
      display: flex;
      justify-content: center;
    }

    .menu-links-icones {
      color: #fff;
      transition: 0.5s color;
    }

    .menu-links {
      margin-left: 15px;
      color: #fff;
      text-decoration: none;
      user-select: none;
      transition: 0.3s opacity, 0.5s visibility;
    }
  }

  .conteudo {
    padding-left: 230px;
    width: calc(100vw - 230px);
    min-height: 100vh;
    background: #333;
    transition: 0.5s;
  }

  .menu-principal-fechado {
    width: 18px;
    padding: 0 15px;

    .imagem-logo-fechado {
      opacity: 0;
      visibility: hidden;
    }

    .menu-links-icones-fechado {
      margin-right: 0;
    }

    .menu-links-fechado {
      opacity: 0;
      visibility: hidden;
    }
  }

  .conteudo-fechado {
    padding-left: 48px;
    width: calc(100vw - 48px);
  }
}
