.menu-principal {
  width: 200px;
  height: 100vh;
  padding: 0 25px 0 25px;
  background: #222; 

  .imagem-logo {
    width: 200px;
    padding: 25px 0;
  }

  .menu-navegacao {
    padding: 25px 0;
  }

  .menu-itens {
    padding-bottom: 25px;
    
    &:hover {
      cursor: pointer;
      .menu-links {
        color: #999;
      }
    }
  }
  
  .menu-links {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    transition: all 0.5s;
  }
}
