.header-wrap {
  width: inherit;
  user-select: none;
  
  .images-header-area {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    max-height: 640px;
    overflow: hidden;

    .selected-image {
      width: 100%;
      max-height: 640px;
      object-fit: cover;
      // position: absolute;
      z-index: 2;
      transition: 1s opacity;
    }

    .background-image {
      width: 100%;
      max-height: 640px;
      object-fit: cover;
      position: absolute;
      z-index: 1;
    }
  }

  .pagination-header-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    z-index: 9999;

    .pagination-header {
      color: #666;
      transition: 0.5s color;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }

  .opacity {
    opacity: 0;
  }
}
