.carousel-area {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  
  .carousel-content-area {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    
    .carousel-content {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .carousel-icon-left,
  .carousel-icon-right {
    font-size: 2em;
    color: #fff;
  }
}
