.carousel-area {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  position: relative;
  user-select: none;

  .carousel-content-area {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    .carousel-content {
      display: flex;
      gap: 20px;
      transition: 0.5s all;
    }
  }

  .carousel-arrow-area-left {
    padding-left: 10px;
  }
  
  .carousel-arrow-area-right {
    padding-right: 10px;
  }

  .carousel-arrow-hover {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s background-color, 0.5s color;

    .carousel-arrow {
      font-size: 2em;
      color: #fff;
      transition: 0.5s color, 0.5s opacity;
    }

    &:hover {
      cursor: pointer;
      background-color: #fff;

      .carousel-arrow {
        color: #555;
      }
    }
  }

  .carousel-arrow-hover-disabled {
    pointer-events: none;
  }

  .disabled-arrow {
    pointer-events: none;
    opacity: 0.1;
  }
}
